
h1{
  color: #C25B56;
}

img{
  position: center;
}

.container{
  padding-bottom: 5px;
  color: #96C0CE;
}

a{
  text-decoration: none;
  
}

#fnews,#onews, #events{
  color: #BEB9B5;
}

quote{
  font-size: 50px;
  font-style: italic;
}
